In [3]:
#your first program
#imprime a frase Hello Python 101
print("Hello Python 101")

Hello Python 101

In [2]:
#imprime em duas linhas \n significa new line
print("Hello\nWorld")

Hello
World

In [5]:
#types
#comando para descobrir se uma variável é tipo int, float ou str
type("Hello World")

str

In [6]:
#comando para transformar um variável em bool/boleano
bool("1")

True

In [8]:
#comando para conveter uma variável em int
int(1.1)
#se tentar conveter uma letra para int receberá uma mensagem de erro

1

In [10]:
#comando para conveter uma variável em float
float(2)

2.0

In [11]:
#comando para conveter uma variável em str
str(3)

'3'

In [18]:
#comando para conveter true em 1 e false em 0
int(True)
int(False)

1

In [1]:
#expressions and variable
#expressions + para soma, - para subtração, * para multiplicação, / para divisão, // para divisão integral
#em uma expressão primeiro resolve * e depois +
30+2*2
2*2+30

34

In [2]:
#expressões em parenteses são efetuadas primeiro
(3+4)*2

14

In [10]:
#atribuindo valores as variáveis
my_variable = 1

#indicando valores das variáveis
my_variable:1
    
#atribuindo novo valor a variável
my_variable = 10
print(my_variable)

10

In [18]:
#podemos atribuir valores de expressões em uma variável
x = 43+60+16+41
print(x)
#podemos incluir variáveis dentro de outras expressões
y=x/60
print(y)

160
2.6666666666666665

In [21]:
#exemplo
#converter o número de minuntos em horas
total_min = 43+42+57
print(total_min)

total_hr = total_min/60
print(total_hr)

142
2.3666666666666667

In [23]:
#string operations
#pode-se usar "ou ' para strings
name_a = "Carla"
print(name_a)
name_b = 'Wosniak'
print(name_b)

Carla
Wosniak

In [26]:
#uma string pode conter números e/ou caracteres especiais
name_c = "1 2 3 & * @" 
print(name_c)

1 2 3 & * @

In [39]:
#pode-se atribuir um indice a um elemento de uma string
print(name_a[2])
print(name_b[0])

#pode-se atribuir um indice negativo a um elemento de uma string
print(name_b[-1])

#podemos lingar uma string a outra variável
print(name_a[0:3])

#podemos selecionar todas as letras pares
print(name_a[::2])

#podemos selecionar todas as letras pares dentro de um período
print(name_b[0:5:2])

r
W
k
Car
Cra
Wsi

In [1]:
#contar o número de elementos na string - espaço também entra na conta
len("Carla Wosniak")

13

In [14]:
#operações com strings
name = "Carla Wosniak "
quote = name+"tem 30 anos"
print(quote)

mult_name = 3*name
print(mult_name)

Carla Wosniak tem 30 anos
Carla Wosniak Carla Wosniak Carla Wosniak

In [15]:
#tab é respresentado por \t
tab = "Carla Wosniak \t tem 30 anos"
print(tab)

Carla Wosniak 	 tem 30 anos

In [24]:
#comando upper transforma todas os elementos da string em letras maiusculas 
A="Thriller is the sixth studio album"
B=A.upper()
print(B)

THRILLER IS THE SIXTH STUDIO ALBUM

In [25]:
#substitui uma elemento/palavra da string por outra
A='Michael Jackson is the best'
B=A.replace('Michael','Janet')
print(B)

Janet Jackson is the best